:root {

    --backgroundcolor: #454c50;
    --preview-text-backgroundcolor: #454c50e6;
    --skip-target-color: #65696e;
    --area-title-color: #828287;
    --background-border-color: #605d57;
     --vertical-border:#454c50;
     --scrollbar:#605d57;
    --btn-color: #b6b6b9;
    --menu-color: #b8b8b8;
    --caption-color: #b4b4b4;
    --a-border-color: #adadad;
    --listitem-color: #c9c9c9;
    --link-color: #dfdfdf;
    --color: #e1e1e1;

    --fontw1: 100;
    --fontw2: 200;
    --fontw3: 300;
    --fontw4: 400;
    --fontw5: 500;
    --fontw6: 600;
    --fontw7: 700;
    --fontw8: 800;



    --border: 1px solid var(--background-border-color);
    --border-light: 1px solid #adadad;

    --area-border:0px solid var(--vertical-border);

}

  /* --backgroundcolor: #454c50; */
  /* --background-border-color: #86868a; */