* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background: var(--background-border-color);
  min-height: 40px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::selection {
  background-color: var(--color);
  color: var(--backgroundcolor);
  font-weight: 600;
}




body {
  margin: 0;
  font-size: 16px;
  font-family: "IBM Plex Sans", "IBM Plex Sans JP", sans-serif;


  background: var(--backgroundcolor);

  color: var(--color);
 
  display: flex;
  flex-direction: column;
/* overflow: hidden; */
}

/* p, a,  , .list-item.active .list-meta, .list-item:hover{
color: #e1e1e1;
} */

p {
  color: var(--color);
}

a {
  color: var(--link-color);
}

button,
.list-item {
  color: var(--btn-color);
}

.menu button:hover,
.btn:hover {
  color: var(--color);
}

.scroll-top-btn {
  background: var(--backgroundcolor);
}



header {
  height: 81px;
  display: flex;
  flex-direction: column;
  /* background: #3b3b3b; */
  /* background-image: url("img/background6.png"); */
  background-size: 100%;
  border-bottom: var(--border);
}

.head1 {
  display: flex;
  border-bottom: var(--border);
  /* padding-right: 40px; */
}

.site-title {
  height: px;
  /* width: auto; */

}


.rogo {
  height: 30px;
  width: 210px;
  margin-top: 5px;
  margin-left: 37px;
  stroke-width: 3px;
  background: url('../img/rogo_1.svg');
  background-repeat: no-repeat;
  background-size: contain;

}

.rogo:hover {
  height: 30px;
  margin-top: 5px;
  margin-left: 37px;
  stroke-width: 3px;
  background: url('../img/rogo_2.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.rogoyoko {


  background-size: contain;

}

.rogoyoko img {
  height: 30px;
  margin-top: 5px;

}

.youtube {
  line-height: 40px;

  letter-spacing: 0.1rem;
  margin: 0 30px 0 auto;
}

.youtube a {
  line-height: 24px;
  text-decoration: none;

  display: inline-block;
 border: 1px solid var(--a-border-color);
  border-radius: 12px;
  padding: 0 7px 0 10px;
  /* font-family: "IBM Plex Serif", serif; */
  font-style: italic;
  color: var(--link-color);
  font-weight: var(--fontw3);
  font-size: 1em;
}

.youtube a:hover {
  color: var(--backgroundcolor);
  background-color: var(--color);
  border: var(--border-light);
}

/* 電光掲示板css↓ */
.ebb {
  width: 30%;
  height: 40px;
  font-size: 0.9em;

  line-height: 40px;
  text-decoration: none;
  overflow: hidden;

  border-left: var(--border);
  /* margin: 0 0 0 auto; */
}


.ebb ul {
  display: inline-block;
  margin: 0;
  padding-left: 100%;
  white-space: nowrap;
  animation: SlideSample 24s linear infinite;
}

.ebb ul li {
  display: inline-block;



  letter-spacing: 0.35rem;
  transform: scale(0.9, 1);
}

.space {
  width: 300px;
}




.ebb a {
  text-decoration: none;



  letter-spacing: 0.3rem;
}



.ad a {
  font-weight: var(--fontw4);
}

/* スクロールさせるアニメーション */
@keyframes SlideSample {
  0% {
    transform: translateX(0)
  }

  100% {
    transform: translateX(-100%)
  }
}

/* 電光掲示板css↑ */





.menu {
  height: 40px;
  display: flex;
  gap: 30px;

  /* margin-left: -25px; */
  margin-left: 39px;
}

.main-menu {
  display: flex;
  gap: 30px;
  width: 260px;
}

.topbtn {
  border: none;
}

button {
  font-family: "IBM Plex Sans", "IBM Plex Sans JP", sans-serif;
}

/* .menu button {
  background: none;
  
  font-size: 1em;
  color: var(--menu-color);
  font-weight: var(--fontw3);
} */

.menu button.active {
  color: var(--color);
}

.menu button, .btn {
  background: none;
  /* border: none; */
  font-size: 1em;
  font-family: "IBM Plex Sans", "IBM Plex Sans JP", sans-serif;

  line-height: 40px;
  text-decoration: none;
  color: var(--menu-color);
  font-weight: var(--fontw4);
}

.btn:hover,
.menu button:hover {
  font-weight: var(--fontw4);
}

.menu span {
  transform: scale(0.9, 1);
}




/* メニュー用 */
.menu button.active {

  font-weight: var(--fontw6);
  /* margin-left: -14px; */
  color: var(--color);
}

.scroll-top-btn {
  width: 32px;
  height: 32px;
  top: 84px;
  border-radius: 50%;
  font-size: 1.5em;
  font-weight: 100;
}

#archive-sort-buttons {
  border-left: var(--border);
  /* padding-top: 5px; */
}

#archive-sort-buttons button {
  /* line-height: 40px; */
  margin-left: 30px;
  font-weight: var(--fontw2);
  line-height: 0;
}

#archive-sort-buttons button.on {
  color: var(--color);
  font-weight: var(--fontw6);
}

.archive-filter {
  border: none;
  width: fit-content;
}

.archive-filter-reset {
  height: 28px;
  width: 28px;
  
  border: 1px solid var(--a-border-color);
  border-radius: 50%;
  margin-top: 6px;
}


.list-item {
  font-weight: var(--fontw3);
}

.list-item:hover {
  color: var(--color);
}

/* リスト用 */
.list-item.active .list-title {
  color: var(--color);
  font-weight: var(--fontw8);
  letter-spacing: 0.5rem;
}

.list-item .active .list-title {
  color: var(--color);
}

.list-item.active .list-meta {
  color: var(--color);
}

.mobile-nav-btn {
  display: none;

}

main {
  flex: 1;
  display: grid;
  grid-template-columns: 2fr 5fr 3fr;
  height: 100%;
  /* border-top: 1px solid #b4b4b4; */

}

.list-area,
.image-area,
.text-area {
  box-sizing: content-box;

  display: flex;


  background: repeating-linear-gradient(to bottom,
      transparent,
      transparent 39px,
      var(--background-border-color) 39px,
      var(--background-border-color) 40px);

  width: 100%;
  /* overflow-y: auto; 各エリアを縦スクロール可能に */
  height: calc(100dvh - 81px);
  /* 親要素内で高さを固定 */
  box-sizing: border-box;
  /* パディングを含めて高さを計算 */
  position: relative;
  /* ← タイトル固定用に基準設定 */

}

.area-title {
  position: sticky;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  z-index: 10;
  box-sizing: content-box;
  margin: 0 auto 0 0;
  z-index: 20;
}

.area-title h1 {
  color: var(--area-title-color);
  /* font-weight: 800; */
  font-size: 1.3em;
  line-height: 40px;
  padding-left: 40px;
  font-family: "Baskervville", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: var(--fontw5);

  transform: scale(1, 0.95);
z-index: 200;
}

.list-container,
.image-container,
.text-container {
  overflow-y: auto;
  overflow-x: hidden;
}


.list-area {
  display: flex;
  flex-direction: column;
  /* ←縦並びにする！ */
  align-items: flex-start;
  /* ←左寄せ */
  justify-content: flex-start;
  /* ←上寄せ */

  position: relative;
  border-right: var(--border);

}

.list-container {
  width: 100%;
}

.list-item {
  font-size: 1em;
  cursor: pointer;
  line-height: 40px;
  padding-left: 40px;
  padding-right: 10px;
  transform: scale(0.9, 1);
  letter-spacing: 0.3rem;
}





.list-item span {
  display: inline-block;

}


.list-title {
  font-size: 1em;
  display: inline-block;
}

.list-category {
  display: inline-block;
}

.list-place {
  display: inline-block;
  /* margin-bottom: 80px; */
}

.list-item-spacer {
  height: 80px;
  width: 100%;
}

.list-container-spacer {
  height: 160px;
}


.image-area {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  border-right: var(--border);
  position: relative;

}

.image-container {
  padding-left: 20px;
  padding-right: 20px;
}


.caption {
  font-size: 0.8em;
  color: var(--caption-color);
  line-height: 40px;
  margin-bottom: 45px;
  transform: scale(1, 0.9);
  letter-spacing: 0.25rem;
  margin-top: -5px;
  text-align: center;
}



.image-area img,
.image-area video,
.image-area iframe {
  border: var(--border);
  background-color: var(--backgroundcolor);
  display: block;
  margin: -1px auto 0px auto;
}

.image-area img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;

  box-sizing: content-box;

}


.hover-overlay {
  pointer-events: none;
  z-index: 100;
}

.image-area iframe {
  display: block;
  box-sizing: content-box;
  object-fit: cover;
}

/* ホバー用プレビュー画像 */
img.preview {
  position: absolute;
  /* エリアの上に重ねる */
  top:80px;
  left: 20%;
  width: 80%;
  height: calc(100%-80px);
  object-fit: cover;
  /* エリア全体をカバー、長辺はトリミング */
  z-index: 10;
  /* クリック表示より上に重なる */
  pointer-events: none;
  /* マウスイベントを通さない */
  border: none;

}




/* 最後のエリアは右のボーダーなし */
.text-area {
  display: flex;
  flex-direction: column;
  /* 必須：縦並び */
  overflow-y: auto;
  /* スクロール可能 */

  position: relative;
}
  .text-lang-wrapper{
    position: relative;
    padding-top: 40px;
  }


.lang-toggle-btn {
  width: 24px;

  border: 1px solid var(--btn-color);
  color: #e1e1e1;
  background: none;
  cursor: pointer;
  line-height: 22px;

  font-size: 0.9em;
  font-weight: var(--fontw3);
  position: absolute;
  top: 7px;
  right: 20px;
  color: var(--backgroundcolor);
  background-color: var(--btn-color);
  z-index: 999;

}

.lang-toggle-btn:hover {
  color: var(--btn-color);
  background-color: var(--backgroundcolor);
  border: 1px solid var(--btn-color);
}


.page-top .lang-toggle-btn {
  top: 47px;
}

.text-area p {
  font-size: 1em;
  line-height: 40px;

  flex-shrink: 0;
  /* 高さ縮小防止 */
  transform: scale(0.9, 1);
  letter-spacing: 0.3rem;
  font-weight: var(--fontw2);
  color: var(--color);
  
}

/* .text-area a {
  margin-top: 7px;
  line-height: 24px;
  text-decoration: none;
  display: inline-block;
  border: var(--border-light);
  border-radius: 13px;
  padding: 0 7px 0 10px;
  font-style: italic;
  color: var(--color);
  font-weight: var(--fontw2);
  font-size: 1em;
  margin: 0 5px;

}

.text-area a:hover {
  color: var(--backgroundcolor);
  background-color: var(--color);
  border: 1px solid var(--color);

} */


.text-area a{
  position: relative;
  display: inline-block;
  padding: 0 20px;
  line-height: 40px;
  border-radius: 20px;
  color:  var(--color);
  text-decoration: none;
  font-weight: var(--fontw2);
  font-style: italic;
  z-index: 2;
  letter-spacing: 0.3rem;
}

.text-area a::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;
  right: 7px;
  bottom: 7px;
  border-radius: 13px;
  /* 20px - 7px = 13px */
  background: #00000000;
  /* 内側背景 */
  border: 1px solid  var(--a-border-color);

  transition-property: background, color;

  z-index: 1;
  /* 背景にする */
     
}

.text-area a:hover{
  color: var(--backgroundcolor);
  font-weight: var(--fontw3);
  /* ← 文字色の変更はここ！ */
  z-index: 2;
}

.text-area a:hover::before{
  background: var(--color);
  /* ホバー時の背景色 */
  color: var(--backgroundcolor);
  border: 1px solid  var(--color);
   z-index: -1;
}


.text-container {
  padding: 0 40px;
  display: block;
  /* position: relative; */
  padding-bottom: 160px;
}



.text-links {
  display: flex;
  flex-wrap: wrap;

  /* padding-bottom: 40px; */
}


.preview-text a {

  line-height: 24px;
  text-decoration: none;

  display: inline-block;
  border: 1px solid var(--a-border-color);
  border-radius: 13px;
  padding: 0 7px 0 10px;
  /* font-family: "IBM Plex Serif", serif; */
  font-style: italic;
  color: var(--color);
  font-weight: var(--fontw2);
  font-size: 1em;
  
}

/* .text-links a:hover {
  color: var(--backgroundcolor);
  background-color: var(--color);
  border: 1px solid var(--color);
  font-weight: var(--fontw3);

} */

.text-ja {
 
 
  margin-left: -5px;
}

.text-en {
  margin-left: -5px;
  
}

.text-credit {

  margin-bottom: 80px;
  color: var(--color);
  margin-top:40px;
}
.credit-top{
  font-weight: var(--fontw4);
}

.text-credit a {
  color: var(--color);
}

.preview-text {
  margin-top: 0px;

  padding: 0 40px;
  font-size: 1em;
  line-height: 40px;

  flex-shrink: 0;
  /* 高さ縮小防止 */
  transform: scale(0.9, 1);
  letter-spacing: 0.3rem;
  font-weight: var(--fontw2);
  background-color: var(--backgroundcolor);
 
  background: repeating-linear-gradient(to bottom,
      var(--backgroundcolor),
      var(--backgroundcolor) 39px,
      transparent 39px,
      transparent 40px);

}



.preview-text a {
  color: var(--color);
  margin-right: 5px;
  margin-left: 5px;
  padding: 0 7px 0 10px;
  font-weight: var(--fontw3);
}

.preview-text.text-en {
  margin-top: 80px;

}

.preview-text.text-en,
.preview-text.text-ja {
  margin-left: -5px;
}


/* 初期状態では内容を非表示に */
.list-area::before,
.image-area::before,
.text-area::before {
  content: "";
  display: block;
}

.scroll-extra {
  display: block !important;
  /* 横並び防止 */
  width: 100% !important;
  /* 横幅確保 */
  height: 80px;
  flex-shrink: 0;
}

.list-area,
.image-area,
.text-area {
  position: relative;
  /* ボタンの absolute 基準 */
}



.member-sublist {
  margin-left: 1em;
}

.list-item.sub {
  font-size: 0.9em;
  opacity: 0.8;
  cursor: pointer;
}

.list-item.sub:hover {
  opacity: 1;
}


/* トップ画面 */

.top-title {
  padding: 0 40px;
  font-size: 1em;
  line-height: 40px;
  color: var(--color);
  font-weight: var(--fontw6);

}

.top-top-title {
  margin-top: 40px;
}

.top-text-en {
  margin-top: 40px;
  display: none;
}

.top-text {
  margin-top: 40px;
}

/* コマ */

#wrapper {
  display: flex;
  flex-wrap: wrap;
  /* ここで折り返しを有効にする */
  justify-content: center;
  /* align-items: center; */
  gap: 10px;
  /* height: 100vh; */
  /* background: #b4b4b4; */
  margin-top: 40px;

}

.wrapper2 {
  margin-bottom: 80px;
}

.sub-title-mini {
  display: none !important;
}

@media screen and (max-width: 1341px) {
  .sub-title-big {
    display: none !important;
  }

  .sub-title-mini {
    display: block !important;
    position: absolute !important;
    bottom: 0;
    margin-bottom: 0px !important;
  }

  .sub-title {
    padding-right: 0px !important;

  }

}

.stg {
  position: absolute !important;
  bottom: 0;
  padding-right: 20%;
}

.sub-title {

  position: relative;


  overflow: hidden;
  border: 0px !important;
  z-index: 999;


}

.sub-title img {

  background: none;
  border: 0px !important;
  object-fit: contain !important;
  height: 40px !important;
  margin: 0px auto 0px auto !important;
  background-color: #00000000 !important;


}


.komaImage,
.komaImage2 {
  position: relative;
  /* width: calc((100% - 30px) / 4); ←1行3個、gap分を考慮 */
  aspect-ratio: 1 / 1;
  /* 正方形を維持（必須） */
  /* overflow: hidden;
  width: 100%; */
}




.frame {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: 0;
  background: none;
  border: none;
  filter: drop-shadow(35px 20px 11px #33333460);

}

.frame.active {
  visibility: visible;
  z-index: 1;
}

.komaImage img,
.komaImage2 img {
  background: none;
  border: 0px;

}




/* koma↑ */




@media screen and (max-width: 768px) {




  body {
    font-size: 15px;
    overflow: auto;
    
  }

  ::-webkit-scrollbar {
    width: 0px;

  }


  header {
    height: 107px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 9999;
    background-color: var(--backgroundcolor);

  }


  .head1 {
    display: grid;
    grid-template-columns: 160px auto auto;
    /* width: 300px; */
  }

  .head1 .h:last-child {
    grid-column: 1 / -1;
  }

  /* .head1 {
  display: flex;
  flex-wrap: wrap;
}

.h {
  width:auto;
}

.h:last-child {
  width: 100%;
  order: 99; 
} */


  .site-title {
    height: 35px;
  }

  .rogo {
    height: 27px;
    width: 160px;
    margin-top: 6px;
    margin-left: 15px;
    stroke-width: 3px;

    background-repeat: no-repeat;
    background-size: contain;

  }


  .rogo:hover {
    height: 27px;
    width: 160px;
    margin-top: 6px;
    margin-left: 15px;
    stroke-width: 3px;

    background-repeat: no-repeat;
    background-size: contain;
  }

  .rogoyoko {

    margin-left: 20px;
    background-size: contain;

  }

  .rogoyoko img {
    height: 29px;
    margin-top: 3px;

  }

  .youtube {
    line-height: 35px;

    letter-spacing: 0.1rem;
    margin: 0 0 0 auto;
    padding-right: 10px;
  }

  .youtube a {
    line-height: 18px;
    text-decoration: none;

    display: inline-block;
   
    border-radius: 10px;
    padding: 0 5px 0 5px;
    /* font-family: "IBM Plex Serif", serif; */
    font-style: italic;
    color: var(--btn-color);
    font-weight: var(--fontw3);
    font-size: 15px;
  }

  .youtube a:hover {
    color: var(--backgroundcolor);
    background-color: var(--color);
    border: 1px solid var(--color);
  }



  .menu {
    height: 35px;
    display: flex;
    gap: 20px;
    margin-left: 20px;
  }

  .menu button, .btn{
    line-height: 35px;
  }

  .btn {
    background: none;
    border: none;
    font-size: 1em;
    font-family: "IBM Plex Sans", "IBM Plex Sans JP", sans-serif;
    line-height: 35px;
    text-decoration: none;
    color: var(--menu-color);

  }

  .aboutbtn {
    background: none;
    border: none;
    font-size: 1em;
    font-family: "IBM Plex Sans", "IBM Plex Sans JP", sans-serif;

    line-height: 35px;
    text-decoration: none;
    color: var(--color);
    font-weight: var(--fontw6);
  }

  .ebb {
    /* width: calc(40% - 40px); */
    width: 100vw;
    height: 35px;
    font-size: 1em;

    line-height: 35px;
    text-decoration: none;
    overflow: hidden;
    border-left: 0px;
    border-top: 1px solid var(--background-border-color);
    /* margin: 0 0 0 auto; */
  }

  .mobile-nav-wrapper {
    height: 100dvh;
    
  }

  main {
    grid-template-columns: none;
    overflow-y: hidden;
    position: relative;
    top: 107px;
    display: block;
     height: calc(100dvh - 106px);
  }

  .scroll-top-btn {
    width: 20px;
    height: 60px;
    top: 216px;

    line-height: 28px !important;
    letter-spacing: 0 !important;
    border-radius: 13px;
    font-size: 1.5em;
    font-weight: var(--fontw1);
    /* text-indent: -1px; */


  }


  .list-area,
  .image-area,
  .text-area {
    display: flex;
    background: repeating-linear-gradient(to bottom,
        var(--backgroundcolor),
        var(--backgroundcolor) 34px,
        var(--background-border-color) 34px,
        var(--background-border-color) 35px);
    /* background: #454c50; */
    width: 100%;
    /* overflow-y: auto; 各エリアを縦スクロール可能に */
    height: calc(100dvh - 106px);
    /* 親要素内で高さを固定 */
    box-sizing: border-box;
    /* パディングを含めて高さを計算 */
    position: relative;
    /* ← タイトル固定用に基準設定 */
    border-right: 0;
    overflow-x: hidden;
    /* overflow-y: hidden; */

  }

  .list-container,
  .image-container,
  .text-container {

    background: repeating-linear-gradient(to bottom,
        var(--backgroundcolor),
        var(--backgroundcolor) 34px,
        var(--background-border-color) 34px,
        var(--background-border-color) 35px);
    background-attachment: local;
    overflow-y: auto;
  }



  .list-area button,
  .list-area p {
    line-height: 35px;
  }

  .list-area button {
    margin-bottom: 35px;
  }



  .list-item:hover {
    color: var(--btn-color);
  }


  .scroll-extra {
    height: 35px;
  }

  /*  */
  .area-title {
    font-weight: var(--fontw4);
    height: 34px;
    line-height: 35px;
    margin: 0 auto 0 0;
    border-bottom: 1px solid var(--background-border-color);
    /* box-sizing: border-box; */
    background: var(--backgroundcolor);

  }

  .area-title-imagetext {
    margin-left: 23px;
  }

  .page-top {
    height: calc(100dvh - 106px);
    overflow: auto;
    /* display: flex; */
    width: 100%;

  }



  .page-top .area-title-imagetext {
    margin-left: 0px;
  }

  .page-top .list-area {
    height: auto;
  }

  .page-top .list-container {
    padding-bottom: 0;
  }

  .page-top .image-area {
    margin-bottom: 35px;
    height: auto;

  }

  .page-top .text-area {
    /* margin-top: 35px; */
    border-top: 1px solid var(--background-border-color);
    height: auto;
    min-height: calc((100svh - 385px));
  }

  .page-top p {
    padding-left: 0px !important;
  }

  .page-top .text-container {
    margin-left: -10px;
    margin-bottom: 70px;
  }

  /* top では高さ固定レイアウトを解除 */
  .page-top .list-area,
  .page-top .image-area,
  .page-top .text-area {
    overflow: auto;
    /* display: block !important; */
    /* overflow: visible !important; */
  }

  .mobile-image-area-title{
    line-height: 35px;
    margin-left: 10px;
  }
.mobile-image-area-title p{
  font-size: 1em;
  letter-spacing: 0.1em;
  transform: scale(1, 0.9);
}

  #wrapper {
    height: 70px;
    margin-top: 0px;
    gap: 5px;

  }

  .wrapper2 {
    margin-bottom: 0px;
  }

  .komaImage,
  .komaImage2 {
    position: relative;
    height: 70px;
    /* width: calc((100% - 30px) / 4); */
    aspect-ratio: 1 / 1;
    /* 正方形を維持（必須） */

  }

  .frame {
    filter: drop-shadow(10px 5px 4px #3333349b);
  }

  .sub-title img {
    height: 35px !important;

  }


  .sub-title {
    height: 70px;
    padding-right: 0px !important;
    position: relative;
    width: 70px;
  }

  .top-text-en {
    margin-top: 35px;

  }

  .top-text {
    margin-top: 35px;
  }

  .area-title h1 {
    padding-left: 20px;
    line-height: 35px;
  }

  .list-area {
    padding-bottom: 0px;
    border-right: 0px;
  }

  .list-container {
    width: 100%;
    height: 100%;
    padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 280px;
  }

  .list-item {
    line-height: 35px;
    margin-bottom: 35px;

    transform: scale(0.9, 1);
    letter-spacing: 0.3rem;
    padding-left: 0px;
  }

  .mobile-list-image {
    height: 69px;
    width: 100%;

    /* box-sizing: border-box; */

    padding-right: 30px;
  }

  .mobile-list-image img {
    border-left: 1px solid var(--background-border-color);
    border-right: 1px solid var(--background-border-color);
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .list-item-spacer {
    height: 36px;
  }

  .list-container-spacer {
    height: 0px;
  }

  .image-container {
    padding-left: 35px !important;
    padding-right: 35px !important;

  }

  


  .caption {
    font-size: 0.8em;
    color: #b4b4b4;
    line-height: 35px;
    margin-bottom: 40px;
    transform: scale(1, 0.9);
    letter-spacing: 0.1rem;
    margin-top: -5px;

  }

  /* 最後のエリアは右のボーダーなし */

.text-lang-wrapper{
    margin-left: 5px;
    padding-top: 0px;
  }
  .text-container {
    padding: 0 10px 140px 30px;
  }

  .text-area p {
    font-size: 1em;
    line-height: 35px;
    font-weight: var(--fontw3);
    width: 103%;
  }

  .text-area a {
    line-height: 35px;
    /* margin-top: 7px; */
    font-weight: var(--fontw3);
    /* padding:0 10px; */
    margin:0 5px;
     transform: scale(1, 0.95);
  }

  .text-area a::before{
     content: "";
    top: 5px;
  
  bottom: 5px;
     z-index: 1;
    
  }



  .lang-toggle-btn {
    border: 1px solid var(--btn-color);
    top: 5px;
    right: 30px;
    color: #545454;
    background-color: var(--btn-color);
    z-index: 999;
  }

  .lang-toggle-btn:hover {
    color: var(--backgroundcolor);
    background-color: var(--btn-color);
    border: 1px solid var(--btn-color);

  }

  .page-top .lang-toggle-btn {
    top: 40px;
  }

  .text-ja {
    margin: 0;
    padding-bottom: 0;
    /* margin-left: -10px; */
    /* margin-bottom: 140px; */
  }

  .text-ja p {
    letter-spacing: 0.3rem;
    /* margin-bottom: 70px; */

  }

  .text-en {
    margin-top: 35px;
    margin-left: 5px;
    /* margin-bottom: 140px; */
    padding-bottom: 0;
    /* margin-left: -10px; */
  }

  .text-en p {
    letter-spacing: 0.2rem;
  }

  .text-credit {
    margin-top: 35px;
    margin-left: 5px;
  }

  .mobile-jp-title {
    font-weight: var(--fontw5) !important;
    letter-spacing: 0.4rem !important;


  }



  .mobile-en-title {
    font-weight: var(--fontw4) !important;
    letter-spacing: 0.3rem !important;
    font-size: 1.1em !important;

  }

  .text-links {

    
    line-height: 35px;
    display: flex;
    letter-spacing: 0.1rem;
    margin: 0 10px 35px 10px;
    padding-bottom: 0;
  }

  /* .text-links a {
    
    line-height: 35px;
    text-decoration: none;

    display: inline-block;
   
  
    padding: 0 7px 0 10px;

    font-weight: var(--fontw3);
    font-size: 15px;
  } */

  @keyframes linkanime {

    0%,
    100% {
      background-color: var(--color);
      color: var(--backgroundcolor);

    }

    98% {
      background-color: var(--backgroundcolor);
      color: var(--color);
    }

  }


  .youtube a {
    animation: linkanime 5s step-start infinite;
    animation-name: linkanime;
  }


  /* ボタン */
  .mobile-nav-btn {
    position: absolute;
    top: 106px;
    height: 106px;
    width: 34px;
    z-index: 999;
    background-color: var(--backgroundcolor);
    writing-mode: vertical-rl;
    text-decoration: none;
    color: var(--color);

    font-family: "Baskervville", serif;
    font-optical-sizing: auto;

    font-style: normal;
    font-weight: var(--fontw5);
    font-size: 17px;
    line-height: 35px;
    display: none;

  }

  .mobile-nav-btn-text {
    color: var(--area-title-color);
    font-weight: var(--fontw5);
    font-size: 20px;
    display: inline-block;
    height: auto;
  }

  /* 左右に配置 */
  .prev {
    left: 0px;
    border: none;
    border-right: 1px solid var(--background-border-color);
    border-bottom: 1px solid var(--background-border-color);
  }

  .next {
    right: 0px;
    border: none;
    border-left: 1px solid var(--background-border-color);
    border-bottom: 1px solid var(--background-border-color);
  }

  .top-top-title {
    margin-top: 0px;
  }
}