* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-thumb {
  background: #b4b4b4;
    min-height: 40px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::selection {
  background-color: #e1e1e1;
  color: #454c50;
  font-weight: 600;
}


body {
  margin: 0;
  font-size: 16px;
  font-family: "IBM Plex Sans","IBM Plex Sans JP",sans-serif;
  

  background: #454c50;
  /* background-image: url("img/background23.png"); */
  /* background-blend-mode:multiply; */
  /* image-rendering: pixelated; */
  /* background-size: 7px; */
  /* #dedfe0 */
  color: #e1e1e1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  
}

p, a, .menu button.active, #archive-sort-buttons button.on,.list-item.active .list-title , .list-item .active .list-title, .list-item.active .list-meta, .list-item:hover{
color: #e1e1e1;
}
button, .list-item{
  color:#adadad;
}
.menu button:hover, .btn:hover {
  color: #e1e1e1;
}

.scroll-top-btn {
  background-color: #454c50;
}



header {
  height: 81px;
  display: flex;
  flex-direction: column;
  /* background: #3b3b3b; */
   /* background-image: url("img/background6.png"); */
  background-size: 100%;
  border-bottom: 1px solid #b4b4b4 ;
}

.head1{
    display: flex;
 border-bottom: 1px solid #b4b4b4;
 /* padding-right: 40px; */
}

.site-title {
  height: px;
  /* width: auto; */
  
}


.rogo{
  height: 30px;
  width: 210px;
  margin-top: 5px;
  margin-left: 37px;
  stroke-width:3px;
  background:url('../img/rogo_1.svg');
  background-repeat: no-repeat;
   background-size: contain;
   
}

.rogo:hover{
  height: 30px;
  margin-top: 5px;
  margin-left: 37px;
  stroke-width:3px;
  background:url('../img/rogo_2.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.rogoyoko{
  
 
  background-size: contain;
  
}
.rogoyoko img{
  height: 30px;
  margin-top: 5px;
  
}

.youtube{
line-height: 40px;

letter-spacing: 0.1rem;
margin: 0 30px 0 auto;
}

.youtube a{
  line-height: 24px;
text-decoration: none;

display: inline-block;
border: 1px solid #b4b4b4;
border-radius: 12px;
padding: 0 7px 0 10px;
/* font-family: "IBM Plex Serif", serif; */
font-style: italic;
color: #dfdfdf;
  font-weight: 300;
  font-size: 1em;
}

.youtube a:hover {
  color:#545454 ;
  background-color: #e1e1e1;
  border: 1px solid #e1e1e1;
}

/* 電光掲示板css↓ */
.ebb{
    /* width: calc(40% - 40px); */
    width:30%;
height: 40px;
font-size: 0.9em;
  
  line-height: 40px;
  text-decoration: none;
  overflow: hidden;

    border-left: 1px solid #b4b4b4;
    /* margin: 0 0 0 auto; */
}


    .ebb ul {
        display: inline-block;
        margin: 0;
        padding-left: 100%;
        white-space: nowrap;
        animation: SlideSample 24s linear infinite;
    }

    .ebb ul li {
        display: inline-block;
     
       
    
        letter-spacing: 0.35rem;
         transform: scale(0.9, 1);
    }

    .space{
        width: 300px;
    }

   


    .ebb a{
        text-decoration: none;
       
         
         
         letter-spacing: 0.3rem;
    }

    

    .ad a{
        font-weight: 400;
    }

    /* スクロールさせるアニメーション */
    @keyframes SlideSample {
        0% {
            transform: translateX(0)
        }
        100% {
            transform: translateX(-100%)
        }
    }

    /* 電光掲示板css↑ */





.menu {
  height: 40px;
  display: flex;
  gap: 30px;
  
  /* margin-left: -25px; */
margin-left: 39px;
}

.main-menu{
  display: flex;
gap: 30px;
width:260px;
}
.topbtn{
  border: none;
}

button{
  font-family: "IBM Plex Sans","IBM Plex Sans JP",sans-serif;
}

.menu button {
  background: none;
  /* border: none; */
  font-size: 1em;
  
   
  
   color:#c9c9c9;
  
   font-weight: 300;
}

.btn {
  background: none;
  border: none;
  font-size: 1em;
  font-family: "IBM Plex Sans","IBM Plex Sans JP",sans-serif;
   
  line-height: 40px;
  text-decoration: none;
  color:#c9c9c9;
   font-weight: 300;
}

.btn:hover, .menu button:hover{
  font-weight: 400;
}

.blogbtn{
    background: none;
  border: none;
  font-size: 1em;
  font-family: "IBM Plex Sans","IBM Plex Sans JP",sans-serif;
   
  line-height: 40px;
  text-decoration: none;

   font-weight: 600;
}

.menu span{
  transform: scale(0.9, 1);
}




/* メニュー用 */
.menu button.active {
   
  font-weight: 600;
  /* margin-left: -14px; */
}
 .scroll-top-btn{
  width: 32px;
  height: 32px;
        top: 84px;
   border-radius: 50%;
    font-size: 1.5em;
     font-weight: 100;
  }




.list-item{
  font-weight: 300;
}

/* リスト用 */
.list-item.active .list-title {
 
 font-weight: 600;
 letter-spacing: 0.5rem;
}



.mobile-nav-btn{
  display: none;
}
main {
  flex: 1;
  display: grid;
  grid-template-columns: 2fr 5fr 3fr ;
  height: 100%;
  /* border-top: 1px solid #b4b4b4; */
  
}

.list-area, .image-area, .text-area {
 box-sizing: content-box;
  
  display: flex;
  
 
    background: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 39px,
    #b4b4b4 39px,
    #b4b4b4 40px
  );
  
  width:100%;
   /* overflow-y: auto; 各エリアを縦スクロール可能に */
  height: calc(100vh - 81px);     /* 親要素内で高さを固定 */
  box-sizing: border-box; /* パディングを含めて高さを計算 */
  position: relative; /* ← タイトル固定用に基準設定 */
 
}
.area-title {
  position: sticky;
  top: 0;
  left: 0;
  height: 40px;
width: 100%;
  z-index: 10;
  box-sizing: content-box;
  margin:0 auto 0 0;
}

.area-title h1{
color: #828287;
 /* font-weight: 800; */
  font-size: 1.3em;
  line-height: 40px;
     padding-left:40px ;
       font-family: "Baskervville", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
 
  transform: scale(1, 0.95);
  
}

.list-container,.image-container,.text-container{
 overflow-y: auto;
 overflow-x: hidden;
}


.list-area{
   /* padding-bottom: 40px; */
 

  display: flex;
  flex-direction: column; /* ←縦並びにする！ */
  align-items: flex-start; /* ←左寄せ */
  justify-content: flex-start; /* ←上寄せ */
   /* padding-left: 40px;
padding-right: 40px; */
position: relative;
border-right: 1px solid #b4b4b4;

}

.list-container{
  width: 100%;
}

.list-item {
  
 font-size: 1em;

  cursor: pointer;
  
 line-height: 40px;
    padding-left: 40px;
padding-right: 10px;
 
 transform: scale(0.9, 1);
  letter-spacing: 0.3rem;
  
}





.list-item span {
  display: inline-block;
 
}


.list-title{
   font-size: 1em;
   display: inline-block;
}

.list-category{
display: inline-block;
}

.list-place{
display: inline-block;
/* margin-bottom: 80px; */
}

.list-item-spacer{
  height: 80px;
  width: 100%;
}

.list-container-spacer{
  height: 160px;
}


.image-area {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
 padding-top: 0;
 /* padding-bottom: 80px; */
 
/* border-right: 1px solid #b4b4b4; */
position: relative;

}

.image-container{
   padding-left: 20px;
padding-right: 20px;
}

/* ⭐ 画像ジャンプ時の一瞬白くなるエフェクト */
/* .flash-white {
  animation: flashWhite 0.3s linear;
}

@keyframes flashWhite {
  0%   { background-color: rgba(255,255,255,0.9); }
  100% { background-color: rgba(255,255,255,0); }
} */

/* 画像フラッシュ用（画像自身に付けるクラス） */


.media-wrapper{
  display:block;
  margin: -1px auto 0px auto;
  width:fit-content;
}

.flash-white::after {
  content: "";
  position: absolute;
  inset: 0;
  background: white;
  opacity: 0.9;
  animation: flashFade 0.4s ease-out;
  pointer-events: none; /* ボタンの邪魔をしない */
}

@keyframes flashFade {
  0%   { opacity: 0.9; }
  100% { opacity: 0; }
}



.caption {
  font-size: 0.8em;
  color: #b4b4b4;
  line-height: 40px;
  margin-bottom: 45px;
   transform: scale(1, 0.9);
  letter-spacing: 0.25rem;
  margin-top: -5px;
  text-align: center;
}



.image-area img,
.image-area video,
.image-area iframe, 
.text-area img,
.text-area video,
.text-area iframe{
  
  border:1px solid #b4b4b4 ;

 
  /* margin-bottom: 40px; */
  background-color: #454c50;
  display: block;
 object-fit: cover;
  margin:0 auto 0px auto;
  box-sizing: content-box;
} 



.hover-overlay{
  pointer-events: none; 
  z-index: 100;
}


/* .image-container{
  padding:0 80px;
} */


/* ホバー用プレビュー画像 */
img.preview {
  position: absolute;      /* エリアの上に重ねる */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;       /* エリア全体をカバー、長辺はトリミング */
  z-index: 10;             /* クリック表示より上に重なる */
  pointer-events: none;    /* マウスイベントを通さない */
  border: none;

}



/* 最後のエリアは右のボーダーなし */
.text-area {
    display: flex;
  flex-direction: column; /* 必須：縦並び */
  overflow-y: auto; /* スクロール可能 */

position: relative;
}


.lang-toggle-btn {
  width: 24px;
  
  border: 1px solid #adadad;
  color:#e1e1e1;
  background: none;
  cursor: pointer;
    line-height: 22px;

font-size: 0.9em;
font-weight: 300;
  position: absolute;
  top: 47px;
  right: 60px;
    color:#545454 ;
  background-color: #adadad;

}

.lang-toggle-btn:hover{
    color:#adadad;
  background-color: #454c50;
  border: 1px solid #adadad;
  
}


.page-top .lang-toggle-btn{
  top: 7px;
}

.text-area{
  border-right: 1px solid #b4b4b4;
}

.text-area p{
 font-size: 1em;
  line-height: 40px;
  
  flex-shrink: 0; /* 高さ縮小防止 */
  transform: scale(0.9, 1);
  letter-spacing: 0.3rem;
  font-weight: 300;
  color: #e1e1e1;
   width:700px;

  margin-right:  auto;
  margin-left: auto;
}



/* .text-area a{
   
    
text-decoration: none;
display: inline-block;

  width: fit-content;
  
  margin-top: 0px ;
  border: none ;
  outline: 1px solid #e1e1e1;
   line-height: 40px ;
  outline-offset: -7px;
  background-position:top right bottom left -7px;
  border-radius: 20px;
  padding: 0 20px 0 20px ;
font-style: italic;
color: #e1e1e1;
  font-weight: 200;
  font-size: 1em;
  margin-right:5px;
  margin-left:5px;
}

.text-area a:hover {
 color:#545454 ;
  background-color: #e1e1e1;
  border: 1px solid #e1e1e1;

} */

.text-area a {
  position: relative;
  display: inline-block;
  padding: 0 20px;
  line-height: 40px;
  border-radius: 20px;
  color: #e1e1e1;
  text-decoration: none;
  /* overflow: hidden; 重要：疑似要素がはみ出さないように */
}

.text-area a::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;
  right: 7px;
  bottom: 7px;
  border-radius: 13px; /* 20px - 7px = 13px */
  background: #00000000;  /* 内側背景 */
   border: 1px solid #e1e1e1;
   
  transition-property: background, color ;
 
  z-index: -1; /* 背景にする */
}
.text-area a:hover {
  color: #454c50;            /* ← 文字色の変更はここ！ */
}
.text-area a:hover::before {
  background: #e1e1e1;  /* ホバー時の背景色 */
  color: #454c50;
}


.text-container{

  padding:0 40px;
  display: block;
  position: relative;
  padding-bottom: 200px;
 width: 100%;
}

.link-list{
  margin-left: 20px !important;
}

.button-group{
  width: 700px;
      margin-right: auto;
    margin-left: auto;
  display: flex;
    justify-content: flex-end;
    padding-right: 20px;
       flex-wrap: wrap;
    gap:25px;
}

@media screen and (max-width: 1550px) {
  .text-area p{
     width:95%;
  }
  .button-group{
    width: 97%;
    
  }
}
.jump-btn{
  
  margin: 9px 0 49px 0;
      line-height: 20px;
text-decoration: none;

display: inline-block;
border: 1px solid #e1e1e1;
border-radius: 11px;
padding: 0 7px 0 10px;

  font-weight: 300;
  font-size: 15px;
  background-color: #454c50;
  text-align: right;
}

.jump-btn:hover{
  background-color: #e1e1e1;
  color: #454c50;
}
.large-space-2{
  margin-bottom: 80px;
}
.large-space-1{
  margin-bottom: 40px;
}

.index{
  font-weight: 500 !important;
}

.text-links {
  display: flex;
  flex-wrap: wrap;
  gap: 14px 10px;
  margin-top: 7px;
  padding-bottom: 47px;
}

.text-links a, .preview-text a {
  
      line-height: 24px;
text-decoration: none;

display: inline-block;
border: 1px solid #e1e1e1;
border-radius: 13px;
padding: 0 7px 0 10px;
/* font-family: "IBM Plex Serif", serif; */
font-style: italic;
color: #e1e1e1;
    font-weight: 200;
  font-size: 1em;
}

.text-links a:hover {
 color:#545454 ;
  background-color: #e1e1e1;
  border: 1px solid #e1e1e1;
   font-weight: 200;
   
}

.text-ja{
margin: 0;
padding-bottom: 80px;
margin-left: -5px;
}

.text-en{
 margin-left: -5px;
  padding-bottom: 40px;
}

.text-credit{
  
  margin-bottom: 80px;
  color: #e1e1e1;
}

.text-credit a{
   color: #e1e1e1;
}

.preview-text {
  margin-top: 0px;
 
  padding:0 40px;
  font-size: 1em;
  line-height: 40px;
  
  flex-shrink: 0; /* 高さ縮小防止 */
  transform: scale(0.9, 1);
  letter-spacing: 0.3rem;
  font-weight: 100;
   
}
.preview-text a{
  color: #e1e1e1;
  margin-right: 5px;
  margin-left: 5px;
  padding: 0 7px 0 10px;
}
.preview-text.text-en {
 margin-top:80px;

}

.preview-text.text-en,.preview-text.text-ja{
margin-left:-5px ;
}


/* 初期状態では内容を非表示に */
.list-area::before,
.image-area::before,
.text-area::before {
  content: "";
  display: block;
}

.scroll-extra {
  display: block !important; /* 横並び防止 */
  width: 100% !important;    /* 横幅確保 */
  height: 80px;
   flex-shrink: 0;
}
.list-area,
.image-area,
.text-area {
  position: relative; /* ボタンの absolute 基準 */
}



.member-sublist {
  margin-left: 1em;
}

.list-item.sub {
  font-size: 0.9em;
  opacity: 0.8;
  cursor: pointer;
}

.list-item.sub:hover {
  opacity: 1;
}






@media screen and (max-width: 768px) {
  

  body{
    font-size: 15px;
    
  }

    ::-webkit-scrollbar {
  width: 0px;

}

header {
  height:107px;
  display: flex;
  flex-direction: column;
 

}


.head1 {
  display: grid;
  grid-template-columns:160px auto auto;
  /* width: 300px; */
}

.head1 .h:last-child {
  grid-column: 1 / -1; 
}


.site-title {
  height: 35px;
}

.rogo{
  height: 27px;
  width: 160px;
  margin-top: 6px;
  margin-left: 10%;
  stroke-width:3px;
 
  background-repeat: no-repeat;
   background-size: contain;
   
}

.rogo:hover{
  height: 24px;
  margin-top: 3px;
  margin-left: 37px;
  stroke-width:3px;
 
  background-repeat: no-repeat;
  background-size: contain;
}
.rogoyoko{
  
 margin-left: 20px;
  background-size: contain;
  
}
.rogoyoko img{
  height: 29px;
  margin-top: 3px;
  
}

.youtube{
line-height: 35px;

letter-spacing: 0.1rem;
margin: 0 0 0 auto;
padding-right: 10px;
}

.youtube a{
  line-height: 18px;
text-decoration: none;

display: inline-block;
border: 1px solid #adadad;
border-radius: 10px;
padding: 0 5px 0 5px;
/* font-family: "IBM Plex Serif", serif; */
font-style: italic;
color: #adadad;
  font-weight: 300;
  font-size: 15px;
}

.youtube a:hover {
  color:#545454 ;
  background-color: #e1e1e1;
  border: 1px solid #e1e1e1;
}



.menu {
  height: 35px;
  display: flex;
  gap: 20px;
  margin-left: 20px;
}

.btn {
  background: none;
  border: none;
  font-size: 1em;
  font-family: "IBM Plex Sans","IBM Plex Sans JP",sans-serif;
  line-height: 35px;
  text-decoration: none;
 color:#c9c9c9;
}
.blogbtn{
    background: none;
  border: none;
  font-size: 1em;
  font-family: "IBM Plex Sans","IBM Plex Sans JP",sans-serif;
   
  line-height: 35px;
  text-decoration: none;
  color:#e1e1e1;
   font-weight: 600;
}

.ebb{
    /* width: calc(40% - 40px); */
    width:100vw;
height: 35px;
font-size: 1em;
  
  line-height: 35px;
  text-decoration: none;
  overflow: hidden;
border-left: 0px ;
    border-top: 1px solid #b4b4b4;
    /* margin: 0 0 0 auto; */
}

  main{
    grid-template-columns:none;
  overflow-y: hidden;
  }

    .scroll-top-btn{
    width: 20px;
    height: 60px;
        top: 251px;
    
     line-height: 28px !important;
     letter-spacing: 0 !important;
     border-radius: 13px;
     font-size: 1.5em;
     font-weight: 100;
     /* text-indent: -1px; */
    
   
  }
  
  .list-area, .image-area, .text-area {
  display: flex;
  background: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 34px,
    #b4b4b4 34px,
    #b4b4b4 35px
  );
   /* background: #454c50; */
  width:100%;
   /* overflow-y: auto; 各エリアを縦スクロール可能に */
  height: calc(100vh - 106px);;     /* 親要素内で高さを固定 */
  box-sizing: border-box; /* パディングを含めて高さを計算 */
  position: relative; /* ← タイトル固定用に基準設定 */
  border-right: 0;
  overflow-x: hidden;
}

.list-container, .image-container, .text-container{
  
  background: repeating-linear-gradient(
    to bottom,
    #454c50,
   #454c50 34px,
    #b4b4b4 34px,
    #b4b4b4 35px
  );
background-attachment: local;
}


.list-area button ,.list-area p{  
  line-height: 35px;
}
.list-area button{
    margin-bottom: 35px;
}

.list-item-spacer{
  height: 35px;
}


/*  */
.area-title {
  font-weight: 400;
 
  height: 34px;
  line-height: 35px;
  margin:0 auto 0 0;
 border-bottom: 1px solid #b4b4b4 ;
}

.area-title-imagetext{
  margin-left: 23px;
}

.area-title h1{
  padding-left: 20px;
  line-height: 35px;
}
.list-area{
   /* padding-bottom: 30px; */
    border-right: 0px;
}

.list-container{
   width:100%;
    height: 100%;
     padding-left: 30px;
padding-right: 10px;
padding-bottom: 280px;

}

.list-item {
 line-height: 35px;
 margin-bottom: 35px;
 
 transform: scale(0.9, 1);
  letter-spacing: 0.3rem;
  padding-left: 0px;
}

.list-item :hover{
  color:#adadad;
}


.image-container{
  padding-left: 35px;
  padding-right: 35px;
  padding:0 10px 0 40px;
}

.caption{
  margin-bottom: 35px;
}

/* 最後のエリアは右のボーダーなし */


.text-container{
  padding:0 10px 210px 40px;
}
.mobile_text_title{
  font-weight: 600 !important;
}
.mobile_text_category_data{
  margin-bottom: 35px;
  font-weight: 400 !important;
}

.text-area p{
 font-size: 1em;
  line-height: 35px;
  letter-spacing: 0.1em;
}

.text-area a{
  line-height: 35px;
  
}

.lang-toggle-btn {
  border: 1px solid #adadad;
  top: 75px;
  right: 30px;
    color:#545454 ;
  background-color: #adadad;
}

.lang-toggle-btn:hover{
    color:#545454 ;
background-color: #adadad;
   border: 1px solid #adadad;
  
}

.large-space-1{
  margin-bottom: 35px;
}

.large-space-2{
  margin-bottom: 70px;
}

.text-ja{
margin: 0;
margin-left: -13px;
}
.text-ja p{
letter-spacing: 0.3rem;
}

.text-en{
  
  margin-bottom: 30px;
  margin-left: -13px;
}
.text-en p{
letter-spacing: 0.2rem;
}

.text-credit{
  margin-top:35px;
}

.mobile-jp-title{
  font-weight: 400 !important;
  letter-spacing: 0.6rem !important;

 
}

.mobile-en-title{
  font-weight: 400 !important;
  letter-spacing: 0.4rem !important;
 font-size: 1.1em !important;

}

.text-links{

   gap: 13px 15px;
line-height: 35px;
display: flex;
letter-spacing: 0.1rem;
margin: 0 30px 40px auto;
padding-bottom: 0;
}

.text-links a {
  margin-top: 7px;
      line-height: 20px;
text-decoration: none;

display: inline-block;
border: 1px solid #e1e1e1;
border-radius: 11px;
padding: 0 7px 0 10px;

  font-weight: 300;
  font-size: 15px;
}

@keyframes linkanime{
  0%, 100% { 
     background-color: #e1e1e1; 
    color: #454c50;
    
  }

  98% { 
   background-color: #454c50; 
    color: #e1e1e1;
  }

}

.text-links a, .youtube a{
    animation: linkanime 4s step-start infinite;
    
    animation-name: linkanime;
}


/* ボタン */
.mobile-nav-btn {
  position: absolute;
  top: 107px;
  height: 140px;
width: 35px;
  z-index: 999;
  background-color: #454c50;
   writing-mode: vertical-rl;
  text-decoration: none;
 color: #c3c6c8;
  font-family: "Baskervville", serif;
  font-optical-sizing: auto;

  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 35px;
  display: block;
  
}
.mobile-nav-btn-text{
color: #828287;
font-weight: 500;
font-size: 1.2em;
}

/* 左右に配置 */
.prev {
  left: 0px;
  border:none;
  border-right: 1px solid #adadad;
   border-bottom: 1px solid #adadad;
}
.next {
  right: 0px;
  border:none;
  border-left: 1px solid #adadad;
   border-bottom: 1px solid #adadad;
}

}