* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.scroll-container::-webkit-scrollbar {
  width: 1px;

}

.scroll-container:hover::-webkit-scrollbar {
  width: 1px;

}

.scroll-container::-webkit-scrollbar-thumb {
  background: transparent;
  min-height: 40px;

}

.scroll-container:hover::-webkit-scrollbar-thumb {
  background: var(--scrollbar);
  min-height: 40px;

}

::-webkit-scrollbar-track {
  background: transparent;
}

::selection {
  background-color: var(--color);
  color: var(--backgroundcolor);
  font-weight: var(--fontw6);
}


body {
  margin: 0;
  font-size: 16px;
  font-family: "IBM Plex Sans", "IBM Plex Sans JP", sans-serif;
  background: var(--backgroundcolor);
  color: var(--color);
  display: flex;
  flex-direction: column;
  overflow: hidden;
    -webkit-text-size-adjust: 100%; /* iOS Safari, Chrome for AndroidなどWebKit系ブラウザ */
  text-size-adjust: 100%; /* 標準的な指定 */
}

button,

.list-item {
  color: var(--btn-color);
}

.menu button:hover,
.btn:hover {
  color: var(--color);
}



p {
  color: var(--color);
}

a {
  color: var(--link-color);
}

button {
  color: var(--link-color);
}

header {
  height: 81px;
  display: flex;
  flex-direction: column;
  background-size: 100%;
  border-bottom: 1px solid var(--background-border-color);
  top: 0;
  left: 0;
}

.head1 {
  display: flex;
  border-bottom: 1px solid var(--background-border-color);
}



.rogo {
  height: 30px;
  width: 210px;
  margin-top: 5px;
  margin-left: 37px;
  stroke-width: 3px;
  background: url('../img/rogo_1.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.rogo:hover {
  height: 30px;
  margin-top: 5px;
  margin-left: 37px;
  stroke-width: 3px;
  background: url('../img/rogo_2.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.rogoyoko {
  background-size: contain;
}

.rogoyoko img {
  height: 30px;
  margin-top: 5px;
}

.youtube {
  line-height: 40px;
  letter-spacing: 0.1rem;
  margin: 0 30px 0 auto;
}

.youtube a {
  line-height: 24px;
  text-decoration: none;
  display: inline-block;
  border: 1px solid var(--a-border-color);
  border-radius: 12px;
  padding: 0 7px 0 10px;
  font-style: italic;
  color: #dfdfdf;
  font-weight: var(--fontw3);
  font-size: 1em;
}

.youtube a:hover {
  color: #545454;
  background-color: var(--color);
  border: var(--border-light);
}

/* 電光掲示板css↓ */
.ebb {
  width: 30%;
  height: 40px;
  font-size: 0.9em;
  line-height: 40px;
  text-decoration: none;
  overflow: hidden;
  border-left: 1px solid var(--background-border-color);
}


.ebb ul {
  display: inline-block;
  margin: 0;
  padding-left: 100%;
  white-space: nowrap;
  animation: SlideSample 30s linear infinite;
}

.ebb ul li {
  display: inline-block;
  letter-spacing: 0.35rem;
  transform: scale(0.9, 1);
}

.space {
  width: 300px;
}

.ebb a {
  text-decoration: none;
  letter-spacing: 0.3rem;
}

.ad a {
  font-weight: var(--fontw4);
}

/* スクロールさせるアニメーション */
@keyframes SlideSample {
  0% {
    transform: translateX(0)
  }

  100% {
    transform: translateX(-100%)
  }
}

/* 電光掲示板css↑ */





.menu {
  height: 40px;
  display: flex;
  gap: 30px;
  margin-left: 40px;
}

.main-menu {
  display: flex;
  gap: 30px;
  width: fit-content;
}

.topbtn {
  border: none;
}

#archive-sort-buttons button.on {
  color: var(--color);
}

button {
  font-family: "IBM Plex Sans", "IBM Plex Sans JP", sans-serif;
}

.menu button {
  background: none;
  font-size: 1em;
  color: var(--menu-color);
  font-weight: var(--fontw3);
}

.btn {
  background: none;
  border: none;
  font-size: 1em;
  font-family: "IBM Plex Sans", "IBM Plex Sans JP", sans-serif;
  line-height: 40px;
  text-decoration: none;
  color: var(--menu-color);
  font-weight: var(--fontw4);
}

.btn:hover,
.menu button:hover {
  font-weight: var(--fontw4);
}

.blogbtn {
  background: none;
  border: none;
  font-size: 1em;
  font-family: "IBM Plex Sans", "IBM Plex Sans JP", sans-serif;
  line-height: 40px;
  text-decoration: none;
  font-weight: var(--fontw6);
}

.menu span {
  transform: scale(0.9, 1);
}




/* メニュー用 */
.menu button.active {
  color: var(--color);
  font-weight: var(--fontw6);
}

.scroll-top-btn {
  background-color: var(--backgroundcolor);
  width: 28px;
  height: 28px;
  top: 80px;
  border-radius: 50%;
  font-size: 1.2em;
  font-weight: var(--fontw1);
  border: 1px dotted var(--btn-color);
  text-indent: 0px;
  line-height: 28px;
  margin-top: 6px;
}

.scroll-top-btn:hover {
  border: 1px solid var(--btn-color);
}


.mobile-nav-btn {
  display: none;
}

main {
  flex: 1;
  display: grid;
  grid-template-columns: 2fr 5fr 3fr;
  height: 100%;
}

.list-area,
.image-area,
.text-area {
  box-sizing: content-box;
  display: flex;
  background: repeating-linear-gradient(to bottom,
      transparent,
      transparent 39px,
      var(--background-border-color) 39px,
      var(--background-border-color) 40px);
  width: 100%;
  height: calc(100vh - 81px);
  box-sizing: border-box;
  position: relative;
}

.area-title {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  box-sizing: content-box;
  margin: 0 auto 0 0;
}

.area-title a {
  color: var(--area-title-color);
  font-size: 1.3em;
  line-height: 40px;
  padding-left: 40px;
  font-family: "Baskervville", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: var(--fontw6);
  transform: scale(1, 0.95);
  text-decoration: none;
  cursor: default;
}

.list-container,
.image-container,
.text-container {
  overflow-y: auto;
  overflow-x: hidden;
}


.list-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  border-right: var(--area-border);
}

.list-container {
  width: 100%;
  padding-bottom: 680px;
}

.list-item {
  font-size: 1em;
  cursor: pointer;
  line-height: 40px;
  padding-left: 35px;
  transform: scale(0.9, 1);
  letter-spacing: 0.3rem;
  width: fit-content;
}

.list-item {
  font-weight: var(--fontw3);
}

.list-item:hover {
  color: var(--color);
}

.list-item .active .list-title,
.list-item.active .list-meta {
  color: var(--color);
}

.list-writer{
  font-style: italic;
}

/* リスト用 */
.list-item.active .list-title {
  color: var(--color);
  font-weight: var(--fontw5);
  letter-spacing: 0.3rem;
}

.list-item.active .list-category {
  color: var(--color);
  font-weight: var(--fontw8);
  letter-spacing: 0.3rem;
}


.list-item span {
  display: inline-block;
}

.list-category {
  font-weight: var(--fontw4);
}

.list-title {
  font-size: 1em;
  display: inline-block;
}

.list-category {
  display: inline-block;
}

.list-place {
  display: inline-block;
}

.list-item-spacer {
  height: 80px;
  width: 100%;
}

.list-container-spacer {
  height: 160px;
}

.list-tag {
  display: flex;
  gap: 10px;
}

.image-area {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  position: relative;
}

.image-container {
  padding-left: 40px;
  padding-right: 40px;
}


.media-wrapper {
  display: block;
  margin: -1px auto 0px auto;
  width: fit-content;
}

.flash-white::after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--color);
  opacity: 0.9;
  animation: flashFade 0.4s ease-out;
  pointer-events: none;
}

@keyframes flashFade {
  0% {
    opacity: 0.9;
  }

  100% {
    opacity: 0;
  }
}



.caption {
  font-size: 0.8em;
  color: var(--caption-color);
  line-height: 40px;
  margin-bottom: 45px;
  transform: scale(1, 0.9);
  letter-spacing: 0.25rem;
  margin-top: -5px;
  text-align: center;
}


.image-area img,
.image-area video,
.image-area iframe,
.text-area img,
.text-area video,
.text-area iframe {
  border: 1px solid var(--background-border-color);
  background-color: var(--backgroundcolor);
  display: block;
  object-fit: cover;
  margin: 0 auto 0px auto;
  box-sizing: content-box;
}

.media-iframe-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.media-iframe-wrapper iframe,
.media-iframe-wrapper video {
  display: block;
}

.media-iframe-cover {
  position: absolute;
  inset: 0;
  z-index: 10;
}




.hover-overlay {
  pointer-events: none;
  z-index: 100;
}


/* ホバー用プレビュー画像 */
img.preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 10;
  pointer-events: none;
  border: none;
}


.image-container,
.media-wrapper {
  box-sizing: border-box;
}

.media-wrapper img,
.media-wrapper video,
.media-wrapper iframe {
  display: block;
  width: auto;
  max-width: 100%;
  height: auto;
}


/* 最後のエリアは右のボーダーなし */
.text-area {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  position: relative;
}


.lang-toggle-btn {
  width: 24px;
  border: 1px solid var(--btn-color);
  color: var(--color);
  background: none;
  cursor: pointer;
  line-height: 22px;
  font-size: 0.9em;
  font-weight: var(--fontw3);
  position: absolute;
  top: 47px;
  right: 60px;
  color: var(--backgroundcolor);
  background-color: var(--btn-color);
}

.lang-toggle-btn:hover {
  color: var(--btn-color);
  background-color: var(--backgroundcolor);
  border: 1px solid var(--btn-color);
}


.page-top .lang-toggle-btn {
  top: 7px;
}

.text-area {
  border-right: var(--area-border);
}

.text-area p {
  font-size: 1em;
  line-height: 40px;
  flex-shrink: 0;
  transform: scale(0.9, 1);
  letter-spacing: 0.3rem;
  font-weight: var(--fontw2);
  color: var(--color);
  width: 800px;
  margin-right: auto;
  margin-left: auto;
}



.inline-link {
  position: relative;
  margin-left: 0px;
  margin-right: 0.1em;
  padding: 0 0px 0 0.3em;
  line-height: 22px;
  color: var(--color);
  transform: scale(1, 1) !important;
  text-decoration: none;
  border-bottom: 1px dashed var(--a-border-color);
  box-sizing: border-box;
}

.inline-link:hover {
  font-weight: var(--fontw6);
  border-bottom: 1px solid var(--a-border-color);
}

.inline-link-post {
  position: relative;
  margin-left: -0.3em;
  padding: 0 0.4em 0 0.4em;
  line-height: 20px;
  color: var(--color);
  font-weight: var(--fontw3);
  transform: scale(1, 1) !important;
  text-decoration: none;
  border-bottom: 3px double var(--a-border-color);
  box-sizing: border-box;
  font-style: italic;
}

.inline-link-post:hover {
  font-weight: var(--fontw4);
  background-color: var(--color);
  color: var(--backgroundcolor);
  border-bottom: 3px double var(--backgroundcolor);
}

.link-list {
  position: relative;
  display: inline-block;
  padding: 0 20px;
  line-height: 40px;
  border-radius: 20px;
  color: var(--color);
  text-decoration: none;
  font-style: italic;
}

.link-list::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;
  right: 7px;
  bottom: 7px;
  border-radius: 13px;
  background: #00000000;
  border: 1px solid var(--a-border-color);
  transition-property: background, color;
  z-index: -1;
}

.link-list:hover {
  color: var(--backgroundcolor);
  font-weight: var(--fontw3);
}

.link-list:hover::before {
  background: var(--color);
  color: var(--backgroundcolor);
  border: 1px solid var(--color);
}


.text-container {
  padding: 0 40px;
  display: block;
  position: relative;
  padding-bottom: 750px;
  width: 100%;
}

.link-list {
  margin-left: 20px !important;
}

.button-group {
  width: 700px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  flex-wrap: wrap;
  gap: 25px;
}

@media screen and (max-width: 1700px) {

  main {
    flex: 1;
    display: grid;
    grid-template-columns: 2fr 5.5fr 2.5fr;
    height: 100%;
  }

  .text-container {
    padding: 0 20px;
    padding-bottom: 750px;
  }


  .button-group {
    width: 97%;
  }

  .ebb {
    width: 25%;
  }
}

@media screen and (max-width: 1500px) {
  .text-area p {
    width: 100%;
  }

  .image-area {
    padding: 0 10px;
  }

  .image-container {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.jump-btn {
  margin: 9px 0 49px 0;
  line-height: 20px;
  text-decoration: none;
  display: inline-block;
  border: 1px solid var(--a-border-color);
  border-radius: 11px;
  padding: 0 7px 0 10px;
  font-weight: var(--fontw3);
  font-size: 15px;
  background-color: var(--backgroundcolor);
  text-align: right;
}

.jump-btn:hover {
  border: 1px solid var(--color);
  background-color: var(--color);
  color: var(--backgroundcolor);
}



.large-space-2 {
  margin-bottom: 80px;
}

.large-space-1 {
  margin-bottom: 40px;
}

p.footnote {
  font-size: 0.9em;
  font-weight: var(--fontw5);
  color: var(--caption-color);
  transform: scale(0.9, 0.85);
}

.divider-line {
  height: 40px;
  width: 90%;
  padding: 18px 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.line {
  background-color: var(--a-border-color);
  height: 4px;
}

.index {
  font-weight: var(--fontw4) !important;
  color: var(--link-color) !important;
}

.text-links {
  display: flex;
  flex-wrap: wrap;
  gap: 14px 10px;
  margin-top: 7px;
  padding-bottom: 47px;
}

.text-links a,
.preview-text a {
  line-height: 24px;
  text-decoration: none;
  display: inline-block;
  border: 1px solid var(--color);
  border-radius: 13px;
  padding: 0 7px 0 10px;
  font-style: italic;
  color: var(--color);
  font-weight: var(--fontw2);
  font-size: 1em;
}

.text-links a:hover {
  color: #545454;
  background-color: var(--color);
  border: 1px solid var(--color);
  font-weight: var(--fontw2);
}

.text-ja {
  margin: 0;
  padding-bottom: 80px;
  margin-left: -5px;
}

.text-en {
  margin-left: -5px;
  padding-bottom: 40px;
}

.text-credit {
  margin-bottom: 80px;
  color: var(--color);
}

.text-credit a {
  color: var(--color);
}

.preview-text {
  margin-top: 0px;
  padding: 0 40px;
  font-size: 1em;
  line-height: 40px;
  flex-shrink: 0;
  transform: scale(0.9, 1);
  letter-spacing: 0.3rem;
  font-weight: var(--fontw1);
}

.preview-text a {
  color: var(--color);
  margin-right: 5px;
  margin-left: 5px;
  padding: 0 7px 0 10px;
}

.preview-text.text-en {
  margin-top: 80px;
}

.preview-text.text-en,
.preview-text.text-ja {
  margin-left: -5px;
}


/* 初期状態では内容を非表示に */
.list-area::before,
.image-area::before,
.text-area::before {
  content: "";
  display: block;
}

.scroll-extra {
  display: block !important;
  width: 100% !important;
  height: 80px;
  flex-shrink: 0;
}

.list-area,
.image-area,
.text-area {
  position: relative;
}



.member-sublist {
  margin-left: 1em;
}

.list-item.sub {
  font-size: 0.9em;
  opacity: 0.8;
  cursor: pointer;
}

.list-item.sub:hover {
  opacity: 1;
}


.skip-button-panel {
  left: calc(20% + 10px);
  top: 120px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  z-index: 999;
  margin-left: 70px;
  line-height: 40px;
}

.skip-btn {
  font-size: 0.9em;
  background: none;
  cursor: pointer;
  border-radius: 4px;
  line-height: 40px;
  border: 0px;
  text-align: left;
  transform: scale(1, 0.9);
  color: var(--caption-color);
  letter-spacing: 0.1em;
  font-weight: var(--fontw3);
  width: fit-content;
}

.skip-btn:hover {
  color: var(--color);
}

.skip-button-panel-mobile {
  position: fixed;
  left: 4px;
  top: 320px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  z-index: 999;
  line-height: 35px;
}

.mobile-skip-btn {
  font-size: 13px;
  background: none;
  border: 1px solid var(--a-border-color);
  cursor: pointer;
  border-radius: 18px;
  width: 28px;
  height: 28px;
  letter-spacing: -0.2em;
  font-weight: var(--fontw2);
}

.skip-target p {
  font-size: 1em;
  transform: scale(1, 0.9);
  color: var(--skip-target-color);
  font-weight: var(--fontw5);
  line-height: 40px;
}

.skip-target-text {
  line-height: 40px;
}

@media screen and (max-width: 768px) {


  body {
    font-size: 15px;
    overflow: auto;
  }

  ::-webkit-scrollbar {
    width: 0px;
  }

  header {
    height: 107px;
    display: flex;
    flex-direction: column;
  }


  .head1 {
    display: grid;
    grid-template-columns: 160px auto auto;
  }

  .head1 .h:last-child {
    grid-column: 1 / -1;
  }


  .site-title {
    height: 35px;
  }

  .rogo {
    height: 27px;
    width: 160px;
    margin-top: 6px;
    margin-left: 10%;
    stroke-width: 3px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .rogo:hover {
    height: 27px;
    width: 160px;
    margin-top: 6px;
    margin-left: 15px;
    stroke-width: 3px;
    background: url('../img/rogo_1.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .rogoyoko {
    margin-left: 20px;
    background-size: contain;
  }

  .rogoyoko img {
    height: 29px;
    margin-top: 3px;
  }

  .youtube {
    line-height: 35px;
    letter-spacing: 0.1rem;
    margin: 0 0 0 auto;
    padding-right: 10px;
  }

  .youtube a {
    line-height: 18px;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    padding: 0 5px 0 5px;
    font-style: italic;
    color: #adadad;
    font-weight: var(--fontw3);
    font-size: 15px;
  }

  .youtube a:hover {
    color: #545454;
    background-color: var(--color);
    border: 1px solid var(--color);
  }

  .menu {
    height: 35px;
    display: flex;
    gap: 20px;
    margin-left: 20px;
  }

  .btn {
    background: none;
    border: none;
    font-size: 1em;
    font-family: "IBM Plex Sans", "IBM Plex Sans JP", sans-serif;
    line-height: 35px;
    text-decoration: none;
    color: #c9c9c9;
  }

  .blogbtn {
    background: none;
    border: none;
    font-size: 1em;
    font-family: "IBM Plex Sans", "IBM Plex Sans JP", sans-serif;
    line-height: 35px;
    text-decoration: none;
    color: var(--color);
    font-weight: var(--fontw6);
  }

  .ebb {
    /* width: calc(40% - 40px); */
    width: 100vw;
    height: 35px;
    font-size: 1em;
    line-height: 35px;
    text-decoration: none;
    overflow: hidden;
    border-left: 0px;
    border-top: 1px solid var(--background-border-color);
  }
    .ebb ul {
  animation: SlideSample 40s linear infinite;
}

  main {
    grid-template-columns: none;
    overflow-y: hidden;
    height: calc(100dvh - 106px);
  }

  .scroll-top-btn {
    width: 20px;
    height: 60px;
    top: 251px;
    line-height: 28px !important;
    letter-spacing: 0 !important;
    border-radius: 13px;
    font-size: 1.5em;
    font-weight: var(--fontw1);
    text-indent: 0px;
    margin-top: 0px;
  }

  .scroll-top-btn:hover {
    border: 1px dotted var(--btn-color);
  }

  .list-area,
  .image-area,
  .text-area {
    display: flex;
    background: repeating-linear-gradient(to bottom,
        transparent,
        transparent 34px,
        var(--background-border-color) 34px,
        var(--background-border-color) 35px);
    width: 100%;
    box-sizing: border-box;
    position: relative;
    border-right: 0;
    overflow-x: hidden;
  }

  .list-container,
  .image-container,
  .text-container {
    background: repeating-linear-gradient(to bottom,
        var(--backgroundcolor),
        var(--backgroundcolor) 34px,
        var(--background-border-color) 34px,
        var(--background-border-color) 35px);
    background-attachment: local;
  }


  .list-area button,
  .list-area p {
    line-height: 35px;
  }

  .list-area button {
    margin-bottom: 35px;
  }

  .list-item-spacer {
    height: 36px;
  }



  .area-title {
    font-weight: var(--fontw4);
    height: 34px;
    line-height: 35px;
    margin: 0 auto 0 0;
    border-bottom: 1px solid var(--background-border-color);
  }

  .area-title-imagetext {
    margin-left: 23px;
  }

  .area-title a {
    padding-left: 20px;
    line-height: 35px;
  }

  .list-area {
    border-right: 0px;
  }

  .list-container {
    width: 100%;
    height: 100%;
    padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 280px;

  }

  .list-item {
    line-height: 35px;
    margin-bottom: 35px;
    transform: scale(0.9, 1);
    letter-spacing: 0.3rem;
    padding-left: 0px;
  }

  .mobile-list-image {
    height: 69px;
    width: 100%;
    padding-right: 30px;
  }

  .mobile-list-image img {
    border-left: 1px solid var(--background-border-color);
    border-right: 1px solid var(--background-border-color);
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .list-item :hover {
    color: var(--btn-color);
  }


  .image-container {
    padding-left: 35px;
    padding-right: 35px;
    padding: 0 10px 0 40px;
  }

  .caption {
    margin-bottom: 35px;
  }

  /* 最後のエリアは右のボーダーなし */


  .text-container {
    padding: 0 10px 420px 30px;
  }

  .mobile_text_category {

    font-weight: var(--fontw2) !important;
    letter-spacing: 0.5em !important;
  }

  .mobile_text_title {
    font-weight: var(--fontw6) !important;
  }

  .mobile_text_data {

    font-weight: var(--fontw2) !important;
  }

  .mobile_text_tag {
    display: flex;
    gap: 20px;
    line-height: 35px;
    margin-bottom: 35px;
  }

  .tag {
    width: fit-content;
    line-height: 35px;
  }


  .text-area p {
    font-size: 1em;
    line-height: 35px;
    letter-spacing: 0.08em;
    font-weight: var(--fontw3);
    width: 103%;
  }

  .link-list {
    line-height: 35px;
    transform: scale(1, 0.95);
  }

  .link-list::before {
    content: "";
    top: 5px;
    bottom: 5px;
  }

  .inline-link {
    margin-left: 0px;
    line-height: 20px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0 0px 0 0.05em;
  }

  .inline-link:hover {
    font-weight: var(--fontw3);
    color: var(--color);
    border-bottom: 1px dashed var(--a-border-color);
  }

  .inline-link-post {
    margin-left: -1px;
    padding: 0 5px 0 2px;
    line-height: 17px;
    color: var(--color);
    font-weight: var(--fontw3);
    text-decoration: none;
    border-bottom: 3px double var(--a-border-color);
    box-sizing: border-box;
  }

  .inline-link-post:hover {
    font-weight: var(--fontw3);
    background-color: var(--backgroundcolor);
    color: var(--color);
    border-bottom: 3px double var(--a-border-color);
  }

  .lang-toggle-btn {
    border: 1px solid var(--btn-color);
    top: 75px;
    right: 30px;
    color: var(--backgroundcolor);
    background-color: var(--btn-color);
  }

  .lang-toggle-btn:hover {
    color: var(--backgroundcolor);
    background-color: var(--btn-color);
    border: 1px solid var(--btn-color);
  }

  .large-space-1 {
    margin-bottom: 35px;
  }

  .large-space-2 {
    margin-bottom: 70px;
  }


  .divider-line {
    height: 35px;
    width: 95%;
    padding: 16px 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
  }

  .line {
    background-color: var(--a-border-color);
    height: 3px;
    padding-left: 3px;
  }

  .text-ja {
    margin: 0;
    margin-left: -13px;
  }

  .text-ja p {
    letter-spacing: 0.3rem;
  }

  .text-en {

    margin-bottom: 30px;
    margin-left: -13px;
  }

  .text-en p {
    letter-spacing: 0.2rem;
  }

  .text-credit {
    margin-top: 35px;
  }

  .mobile-jp-title {
    font-weight: var(--fontw4) !important;
    letter-spacing: 0.6rem !important;
  }

  .mobile-en-title {
    font-weight: var(--fontw4) !important;
    letter-spacing: 0.4rem !important;
    font-size: 1.1em !important;
  }

  .text-links {
    gap: 13px 15px;
    line-height: 35px;
    display: flex;
    letter-spacing: 0.1rem;
    margin: 0 30px 40px auto;
    padding-bottom: 0;
  }

  .text-links a {
    margin-top: 7px;
    line-height: 20px;
    text-decoration: none;
    display: inline-block;
    border: 1px solid var(--color);
    border-radius: 11px;
    padding: 0 7px 0 10px;
    font-weight: var(--fontw3);
    font-size: 15px;
  }

  @keyframes linkanime {

    0%,
    100% {
      background-color: var(--color);
      color: var(--backgroundcolor);

    }

    98% {
      background-color: var(--backgroundcolor);
      color: var(--color);
    }

  }

  .text-links a,
  .youtube a {
    animation: linkanime 4s step-start infinite;
    animation-name: linkanime;
  }


  /* ボタン */
  .mobile-nav-btn {
    position: absolute;
    top: 107px;
    height: 140px;
    width: 35px;
    z-index: 999;
    background-color: var(--backgroundcolor);
    writing-mode: vertical-rl;
    text-decoration: none;
    color: var(--color);
    font-family: "Baskervville", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: var(--fontw5);
    font-size: 17px;
    line-height: 35px;
    display: none;
  }

  .mobile-nav-btn-text {
    color: var(--area-title-color);
    font-weight: var(--fontw5);
    font-size: 1.2em;
  }

  /* 左右に配置 */
  .prev {
    left: 0px;
    border: none;
    border-right: 1px solid var(--background-border-color);
    border-bottom: 1px solid var(--background-border-color);
  }

  .next {
    right: 0px;
    border: none;
    border-left: 1px solid var(--background-border-color);
    border-bottom: 1px solid var(--background-border-color);
  }

  .skip-target p {
    font-size: 1.05em;
    transform: scale(1, 0.9);
    color: var(--skip-target-color);
    font-weight: var(--fontw5);
    margin-left: 12px;
  }


}
